body { 
  background: 
    linear-gradient(to top, #012615, transparent),
    url('/assets/fondo2.jpg') center center no-repeat; /* Imagen de fondo */
  background-size: cover; 
  background-attachment: fixed; 
  padding-top: 5%;
  padding-bottom: 5%;
  }

  @font-face {
    font-family: 'TitulosMaquina'; /* Nombre de la fuente personalizada */
    src: url('/assets/TypoSlabIrregularDemo.otf') format('truetype'); /* Ruta a tu archivo de fuente y formato */
  }

.portada  h1 {
  color: #ffffff;
  text-align: center;
  font-family: 'TitulosMaquina', sans-serif;;
  font-size: 70px;



  }
  
  p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.portada{
  background-color: #6D8C5E;
  
}
.portada h4{
  font-family: 'TitulosMaquina', sans-serif;;

}
.portada.descripcion{
  padding-bottom: 20px
}


.portada.text-md{
  padding : 6%;
}

.text-md {
  font-size: 21px;
  color: black;
}


.img-portada.card{
  background-color: #012615;
}
.img-portada h4{
  color: #ffffff;

}

.img-portada.card-img-top{
  background-color: #012615;
  padding: 2%;
}


.col.galeria{
  background-color: #BF895A;
  padding-top: 20px;
  padding-bottom: 20px
}
.col.formulario{
  background-color: #011640;
  padding: 20px;
  color: #ffffff;
  
  
}

.col.formulario h1{
  font-family: 'TitulosMaquina', sans-serif;;

}

.col.recomendaciones{
  background-color: #11468C;
  padding: 20px;
  color: #ffffff;
  
}

.col.recomendaciones h1{
  font-family: 'TitulosMaquina', sans-serif;;

}

.col.recomendaciones li{
  background-color: #11468C;
  padding: 20px;
  color: #ffffff;
}

.col.recomendaciones li h3{
  color: #ffffff
}

.col.recomendaciones li p{
  color: #ffffff
}

.col.galeria li{
  background-color: #BF895A;
}

   