body { 
  background: 
    linear-gradient(to top, #012615, transparent), /* Degradado lineal */
    url('/assets/fondo.jpeg') center center no-repeat; /* Imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo del body */
  background-attachment: fixed; /* Fija la imagen en su posición, lo que permite que el contenido se desplace sobre ella */
  padding-top: 5%;
  }
.portada  h1 {
  padding-top: 5%;
  color: #ffffff;
  text-align: center;
  font: sans-serif;
  font-size: 50px;

  }
  
  p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;

  }

.portada{
  background-color: #6D8C5E;

}

.portada img{
  padding: 5%;
  width: 80%;
  background-color: #012615;
}
.portada p{
  
}

.portada.col-6 p{
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 5%;


}

   